*.js
!lambda/*.js
!lambda/*/*.js
!lambda/*/*/*.js
!socket-server/*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

# Ignore everything in textGenLambdaFolder
lambda/textGenLambdaFolder/*

# Ignore everything in textGenLambda ZIP since over 100 MB
lambda/textGenLambda.zip

# Ignore generated processed OpenAPI file
OpenAPI_Swagger_Definition_processed.yaml
# Ignore torch.zip since over 100 MB
layers/torch.zip