python-socketio[asyncio_client]
websockets
psycopg[binary,pool]
psycopg2-binary
python-dotenv
aws-sdk-bedrock-runtime
smithy-aws-core[eventstream,json]
boto3
botocore
langchain>=0.3,<1
langchain-community>=0.3,<1
langchain-core>=0.3,<1
langchain-aws>=0.2,<1
langchain-postgres
pgvector
requests
amazon-polly-streaming
